header {
  color: #000;
}
header .container-fluid {
  width: 92%;
}
#logoName {
  font-weight: 900;
  font-size: 40px;
  line-height: 64px;
  color: #000;
}
.NavTop {
  border-bottom: 10px solid #3A7EC1;
  padding-bottom: 0 !important;
  padding-top: 2rem !important;
}
.loGo {
  display: inline-block;
  width: 100% !important;
  text-align: center !important;
}
.loGo2 {
  display: inline-block;
  width: 100%;
}
.nav-menu a,
.single-footer-widget ul li a {
  font-size: 18px;
  line-height: 26px;
}
.nav-menu a {
  padding: 0 35px;
  position: relative;
  bottom: -16px;
  padding-bottom: 5px;
}
.nav-menu a:hover,
.nav-menu a:active,
.nav-menu .menu-active {
  border-bottom: 10px solid #fff;
}

.mtop {
  margin-top: -20rem;
  height: 100vh;
}
/* .mP {
  margin-top: 20rem;
} */
.insight {
  margin-left: 10rem;
  margin-bottom: 1rem;
}
.eBuild {
  font-size: 18px;
  line-height: 24px;
  margin-top: -10px;
  margin-bottom: 0.2rem;
}
.fSect {
  margin-top: 8rem;
}
.imgH {
  max-width: 80%;
  margin-left: 2rem;
}
/* .banner-area {
  height: 50pc !important;
} */
a,
.rLogo {
  text-decoration: none !important;
}
.card,
.card-header {
  border: none;
  background-color: #fff;
}
.investFont {
  font-weight: 700;
  font-size: 0.9rem;
  color: rgb(12, 11, 11);
}
.navHead {
  width: 84%;
  margin: auto;
  border-bottom: 0.1rem solid black;
  margin-top: 14.5rem;
}
.active {
  color: white;
 /* background-color: rgb(33, 33, 253);*/
}
.accLeft {
  margin-left: -18rem;
}
.font39 {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(12, 11, 11);
}

.pdtop-90 {
  margin-top: 90px;
}
.img-wrapper {
  margin-top: 100px;
  margin-right: -15px;
}
p {
  font-size: 20px;
  line-height: 38px;
  color: #000;
}
.monitor-wrapper {
  margin-left: 30px;
  margin-top: 100px;
}
.primary-btn {
  padding: 5px 30px;
  font-size: 20px;
  line-height: 40px;
  border-radius: 5px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}
.primary-btn.btn-insight {
  background: #FF7F00;
  width: 65%;
  margin-top: 40px;
  color: #000;
}
/* footer */
.footer-area {
  padding: 35px 0;
}
.single-footer-widget ul li a:hover i {
  color: #8490ff;
}
.single-footer-widget ul li a{
  color: #FFF;
}
  footer p{
    color: #FFF !important;
}
.footer-text {
font-size: 16px !important;
}
/* invest page */
.m-30 {
  margin: 30px 0;
}

/* terms page */
.file-wrapper {
  display: flex;
  margin-top: 10px;
}
.file-wrapper div {
  margin-right: 10px;
}
.file-wrapper i {
  font-size: 50px;
  color: #777;
}

/* success page */
.success-wrapper {
  text-align: center;
  width: 50%;
  margin: 40px auto;
}
.success-wrapper .d-flex {
  justify-content: center;
  margin-top: 20px;
}
.icon-wrapper {
  height: 150px;
  width: 150px;
  border: 5px solid #777;
  border-radius: 50%;
  padding-top: 15px;
  margin: auto;
  margin-bottom: 30px;
}
.icon-wrapper i {
  font-size: 100px;
}
