<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Properton Account</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="dashboard/css/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="dashboard/css/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="dashboard/css/styleMain.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="dashboard/images/favicon.png" />
  <link rel="stylesheet" href="sweetalert2.min.css">
  <link rel="stylesheet" href="asset/css/style.css">

  <script>const AUTH_REQUIRED = false;</script>
</head>

<body>
  <div class="container-scroller" id="app-2">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              <div id="logo" class="loGo">
                <a href="/"><img src="" alt="" title="" />
                  <h3 class="rLogo">PROPERTON</h3>
                </a>
              </div>
              <h5>Welcome to properton!</h5>
              <h6 class="font-weight-light font-italic">Happy to see you!</h6>
              <form class="pt-3" @submit.prevent="createUser()" method="post">

                <div class="form-group">
                  <label for="first_name">First name</label>

                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>

                    <input type="text" v-model="first_name" class="form-control form-control-lg border-left-0  "
                      name="first_name" value="" id="first_name" placeholder="" autocomplete="first_name" autofocus>

                  </div>

                </div>
                <div class="form-group">
                  <label for="last_name">Last name</label>

                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>

                    <input type="text" v-model="last_name" class="form-control form-control-lg border-left-0 "
                      name="last_name" value="" id="last_name" placeholder="" autocomplete="last_name" autofocus>

                  </div>
                </div>
                <div class="form-group">
                  <label for="phone_number">Phone Number</label>

                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>

                    <input type="text" v-model="phone_number" class="form-control form-control-lg border-left-0"
                      name="phone_number" value="" id="phone_number" placeholder="" autocomplete="phone_number"
                      autofocus>

                  </div>
                </div>
                <div class="form-group">
                  <label for="nationality">Nationality</label>

                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>

                    <input type="text" v-model="nationality" class="form-control form-control-lg border-left-0  "
                      name="nationality" value="" id="nationality" placeholder="" autocomplete="phone number" autofocus>

                  </div>
                </div>
                <div class="form-group">
                  <label for="occupation">Occupation</label>

                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>

                    <input type="text" v-model="occupation" class="form-control form-control-lg border-left-0  "
                      name="occupation" value="" id="occupation" placeholder="" required autocomplete="occupation"
                      autofocus>

                  </div>
                </div>
                <div class="form-group">
                  <label for="gender">Gender</label>
                  <select v-model="gender" class="form-control form-control-lg" id="gender" name="gender">
                    <option>Male</option>
                    <option>Female</option>

                  </select>
                </div>
                <div class="form-group">
                  <label for="email">E-mail Address</label>

                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>

                    <input type="email" v-model="email" class="form-control form-control-lg border-left-0  "
                      name="email" value="" id="email" placeholder="" required autocomplete="email" autofocus>

                  </div>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>

                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-lock-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="password" v-model="password" class="form-control form-control-lg border-left-0 "
                      name="password" required autocomplete="current-password" id="password" placeholder="">

                  </div>
                </div>
                <div class="form-group">
                  <label for="password_confirmation">Confirm Password</label>

                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-lock-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="password" class="form-control form-control-lg border-left-0  "
                      name="password_confirmation" required autocomplete="current-password" id="password_confirmation"
                      placeholder="">

                  </div>
                </div>
                <div class="mb-4">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      I agree to all Terms & Conditions
                    </label>
                  </div>
                </div>
                <div class="my-3">
                  <button type="submit" onclick="signup(event)"
                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" href="">Create
                    Account</button>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Already have an account? <a href="login.html" class="text-primary">Login</a>
                </div>
                <!--   <div class="mb-2 d-flex">
                  <button type="button" class="btn btn-facebook auth-form-btn flex-grow mr-1">
                    <i class="mdi mdi-facebook mr-2"></i>Facebook
                  </button>
                  <button type="button" class="btn btn-google auth-form-btn flex-grow ml-1">
                    <i class="mdi mdi-google mr-2"></i>Google
                  </button>
                </div>  -->

              </form>

            </div>
          </div>
          <div class="col-lg-6 register-half-bg d-flex flex-row">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2029 All
              rights reserved.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>


  <!-- container-scroller -->
  <!-- plugins:js -->
  <!-- endinject -->
  <!-- inject:js -->
  <script src="asset/js/vendor/jquery-2.2.4.min.js"></script>
  <script src="asset/js/popper.min.js"></script>
  <script src="asset/js/vendor/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  <script src="asset/js/easing.min.js"></script>
  <script src="asset/js/hoverIntent.js"></script>
  <script src="asset/js/superfish.min.js"></script>
  <script src="asset/js/jquery.ajaxchimp.min.js"></script>
  <script src="asset/js/jquery.magnific-popup.min.js"></script>
  <script src="asset/js/jquery.tabs.min.js"></script>
  <script src="asset/js/jquery.nice-select.min.js"></script>
  <script src="asset/js/isotope.pkgd.min.js"></script>
  <script src="asset/js/waypoints.min.js"></script>
  <script src="asset/js/jquery.counterup.min.js"></script>
  <script src="asset/js/simple-skillbar.js"></script>
  <script src="asset/js/owl.carousel.min.js"></script>
  <script src="asset/js/mail-script.js"></script>
  <script src="asset/js/main.js"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/asset/js/custom.js"></script>
  <!-- endinject -->
</body>

</html>